@page
@model Hack4Her.Pages.CreditosModel
@{
    ViewData["Title"] = "Creditos";
}

<style>
    #creditos {
        background-color: rgb(56, 181, 220);
        border-radius: 20px;
    }
</style>

<div class="container mt-4" id="creditos">
    <div class="row d-flex p-4">
        <p class="h3 m-auto">Equipo del proyecto - 16 - The JACK Squad</p>
    </div>
    <div class="row d-flex pl-2 pr-2">
        <ul class="text-left pl-3 pr-3 pt-0 ml-3 mr-3 mb-0 w-100" style="display: inline-block; vertical-align: middle; list-style-type: disc !important;">
            <li><p class="h5" style="line-height: 2.5rem;">Desarrollo del videojuego: Alexia Saucedo</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">Desarrollo del sitio web: Carlos del Rosal</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">Gui&oacute;n del juego: Karla Tlazalo</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">Investigaci&oacute;n de informaci&oacute;n: Jennifer Mota</p></li>
        </ul>
    </div>
    <div class="row d-flex p-4">
        <p class="h3 m-auto">Informaci&oacute;n recabada, recursos del videojuego e imagenes utilizadas</p>
    </div>
    <div class="row d-flex pl-4 pr-4 pb-4">
        <ul class="text-left pl-3 pr-3 pt-0 ml-3 mr-3 mb-0 w-100" style="display: inline-block; vertical-align: middle; list-style-type: disc !important;">
            <li><p class="h5" style="line-height: 2.5rem;">Navarro, D. M., Narro Robles, J., & Orozco Hern&aacute;ndez, L. (2014). La mujer en M&eacute;xico: inequidad, pobreza y violencia. Revista Mexicana de Ciencias Pol&iacute;ticas Y Sociales, 59(220), 117–146. https://doi.org/10.1016/s0185-1918(14)70803-7</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">Rosales, R. A. (2021, March 8). Crece participaci&oacute;n de la mujer en el mercado de trabajo formal del pa&iacute;s. Retrieved June 20, 2021, from El Economista website: https://www.eleconomista.com.mx/estados/Crece-participacion-de-la-mujer-en-el-mercado-de-trabajo-formal-del-pais-20210308-0012.html</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">Etc&eacute;tera. (2020, August 9). Ante aumento de acoso laboral y mobbing, PRD imparte cursos y asesor&iacute;as a quienes lo sufran: Karen Quiroga - Etc&eacute;tera. Retrieved June 20, 2021, from Etcétera website: https://www.etcetera.com.mx/nacional/aumento-acoso-laboral-mobbing-prd-imparte-cursos-karen-quiroga/</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">Punto Seguido. (2016). ¿Un hombre puede ser feminista? | Punto Seguido - UPC. Retrieved June 20, 2021, from Upc.edu.pe website: https://puntoseguido.upc.edu.pe/hombres-en-deconstruccion/</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">STEMbyme. (2019). STEMbyme. Retrieved June 20, 2021, from STEMbyme website: https://www.stembyme.com/vocaciones-stem/-/blogs/mujeres-steam-ada-lovelace%3Bjsessionid=BC64CB2B036AE50DAA8DD44604CF5D60?_33_redirect=https%3A%2F%2Fwww.stembyme.com%2Fvocaciones-stem%3Bjsessionid%3DBC64CB2B036AE50DAA8DD44604CF5D60%3Fp_p_id%3D33%26p_p_lifecycle%3D0%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Dcolumn-2%26p_p_col_count%3D1%26p_r_p_564233524_categoryId%3D548874</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">Rica Bhattacharyya. (2019, March 7). Gender pay gap high in India: Men get paid Rs 242 every hour, women earn Rs 46 less. Retrieved June 20, 2021, from The Economic Times website: https://economictimes.indiatimes.com/magazines/panache/gender-pay-gap-still-high-women-in-india-earn-19-pc-less-than-men-report/articleshow/68302223.cms</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">Zarate, R. (2021, May 4). “MUJER, DEJA QUE TE EXPLIQUE”: MANSPLAINING, OTRA DE LAS COSTUMBRES DE LA CULTURA MACHISTA. Retrieved June 20, 2021, from ONG Amaranta- Desde concepci&oacute;n, Chile website: https://amarantas.org/2021/05/04/mujer-deja-que-te-explique-mansplaining-otra-de-las-costumbres-de-la-cultura-machista/</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">Arte del videojuego: https://www.artstation.com/limezu</p></li>
            <li><p class="h5" style="line-height: 2.5rem;">M&uacute;sica del videojuego: The Hiding Game</p></li>
        </ul>
    </div>
</div>