@page
@{
    ViewData["Title"] = "Inicio";
}

<style>
    img {
        border-radius: 20px !important;
    }
</style>

<div class="container">
    <div class="row index main1 mt-2">
        <div class="col-lg-7">
            <div class="row h-100 d-flex p-4">
                <p class="h5 m-auto text-center" style="line-height:2.5rem;">El &aacute;rea de las ciencias, la tecnolog&iacute;a y las matem&aacute;ticas est&aacute; tan dominada por hombres y creencias patriarcales, que frecuentemente se forman ambientes desagradables y desfavorables para el crecimiento de las mujeres.</p>
            </div>
        </div>
        <div class="col-lg-5 p-0">
            <img src="~/img/AmbienteDesagradable.png" class="img-fluid" alt="Ambiente laboral desagradable">
        </div>
    </div>
    <div class="row index main2">
        <div class="col-lg-5 p-0">
            <img src="~/img/Pay_Gap.jpg" class="img-fluid" alt="Diferencia de paga" style="border: solid black 1px;">
        </div>
        <div class="col-lg-7">
            <div class="row h-100 d-flex p-4">
                <p class="h5 m-auto text-center" style="line-height:2.5rem;">Esta dominaci&oacute;n masculina resulta en que muchas mujeres talentosas pierdan de vista sus grandes oportunidades de logro y el inter&eacute;s que el trabajo les genera realmente. Adem&aacute;s claro, de que resulta en reconocimientos y remuneraciones limitados</p>
            </div>
        </div>
    </div>
    <div class="row index main3">
        <div class="col-lg-7">
            <div class="row h-100 d-flex p-4">
                <p class="h5 m-auto text-center" style="line-height:2.5rem;">Los hombres son parte importante de mejorar los ambientes de trabajo y estudio de todxs. Informarse, corregir sus comportamientos y actuar ante aquellos que no lo hagan son acciones que poco a poco llevan hacia una sociedad en igualdad.</p>
            </div>
        </div>
        <div class="col-lg-5 p-0">
            <img src="~/img/HombresYMujeres.png" class="img-fluid" alt="El impacto positivo de los hombres">
        </div>
    </div>
    <div class="row index main4 mb-3">
        <div class="col-lg-5 p-0">
            <img src="~/img/Videojuego.png" class="img-fluid" alt="Nuestro videojuego">
        </div>
        <div class="col-lg-7">
            <div class="row h-100 d-flex p-4">
                <p class="h5 m-auto text-center" style="line-height:2.5rem;">En The JACK Squad, buscamos informar con un videojuego a niñxs que pueden no conocer la situaci&oacute;n. Esperamos que con esto aprendan, crezcan y proporcionen a las siguientes generaciones entornos libres de discriminaci&oacute;n de g&eacute;nero.</p>
            </div>
        </div>
    </div>
</div>