@page
@model Hack4Her.Pages.LearnModel
@{
    ViewData["Title"] = "Aprendizaje";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6" id="learn-pos">
            <div class="row d-flex p-4">
                <p class="h2 m-auto">&Aacute;reas prometedoras</p>
            </div>
            <div class="row pl-5 pr-5">
                <img src="~/img/DesempleoEnIgualdad.png" class="img-fluid" alt="Imagen uno, llamativa">
            </div>
            <div class="row d-flex p-2">
                <ul class="text-left p-3 ml-3 mr-3 mb-0" style="display: inline-block; vertical-align: middle; list-style-type: disc !important;">
                    <li><p class="h5" style="line-height: 2.5rem;">Datos de los &uacute;ltimos a&ntilde;os indican que el desempleo es cada vez menos un asunto con frecuencia diferenciada por el g&eacute;nero de las personas.</p></li>
                    <li><p class="h5" style="line-height: 2.5rem;">En M&eacute;xico, la participaci&oacute;n de las mujeres en el mercado laboral se ha incrementado en los &uacute;ltimos a&ntilde;os al pasar del 33% al 38.2% de la Poblaci&oacute;n Econ&oacute;micamente Activa</p></li>
                    <li><p class="h5" style="line-height: 2.5rem;">La participaci&oacute;n de las mujeres en el sistema de sal&uacute;d mexicano ha aumentado los &uacute;ltimos a&ntilde;os, adem&aacute;s de que se les va remunerando mejor. </p></li>
                </ul>
            </div>
            <div class="row">
                <img src="https://i.ytimg.com/vi/1-BfDBTFLSc/maxresdefault.jpg" class="img-fluid" alt="Imagen uno, llamativa">
            </div>
            <div class="row d-flex p-4">
                <p class="h3 m-auto">RECURSOS ADICIONALES</p>
            </div>
            <div class="row d-flex pl-2 pr-2">
                <ul class="text-left pl-3 pr-3 pt-0 ml-3 mr-3 mb-0 w-100" style="display: inline-block; vertical-align: middle; list-style-type: disc !important;">
                    <li><p class="h5" style="line-height: 2.5rem;"><a href="https://www.hersafeplace.mx/">Her Safe Place - Certificací&oacute;</a></p></li>
                    <li><p class="h5" style="line-height: 2.5rem;"><a href="https://mujeressteam.com/estudiantes">Mujeres l&iacute;deres en STEAM</a></p></li>
                    <li><p class="h5" style="line-height: 2.5rem;"><a href="https://www.patroneshermososmexico.org/">Patrones Hermosos</a></p></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6" id="learn-neg">
            <div class="row d-flex p-4">
                <p class="h2 m-auto">&Aacute;reas limitantes</p>
            </div>
            <div class="row pl-5 pr-5">
                <img src="~/img/DiferenciaEducacion.png" class="img-fluid" alt="Imagen uno, llamativa">
            </div>
            <div class="row d-flex p-2">
                <ul class="text-left p-3 ml-3 mr-3 mb-0" style="display: inline-block; vertical-align: middle; list-style-type: disc !important;">
                    <li><p class="h5" style="line-height: 2.5rem;">Existe una amplia diferencia en el acceso a la educaci&oacute;n y capacitaci&oacute;n entre hombres y mujeres j&oacute;venes. M&aacute;s de dos millones de ni&ntilde;as mexicanas no estudian, la mitad deserta antes de terminar la secundaria</p></li>
                    <li><p class="h5" style="line-height: 2.5rem;">Las mujeres en M&eacute;xico dedican cinco veces m&aacute;s tiempo que los hombres a las tareas del hogar y, por eso, menos de la mitad puede tener un empleo</p></li>
                    <li><p class="h5" style="line-height: 2.5rem;">Antes del inicio de la pandemia del COVID-19, las mujeres ganaban, en promedio, 85 pesos por cada 100 pesos que ganase un hombre.</p></li>
                </ul>
            </div>
            <div class="row">
                <img src="https://i.ytimg.com/vi/1-BfDBTFLSc/maxresdefault.jpg" class="img-fluid" alt="Imagen uno, llamativa">
            </div>
            <div class="row d-flex p-4">
                <p class="h3 m-auto">RECURSOS ADICIONALES</p>
            </div>
            <div class="row pl-5 pr-5 pb-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H1C-vG4yBMI" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>