@page
@model Hack4Her.Pages.LearnModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-lg-6" id="learn-pos">
            <div class="row d-flex p-5">
                <p class="h2 m-auto">&Aacute;reas prometedoras</p>
            </div>
            <div class="row">
                <img src="https://i.ytimg.com/vi/1-BfDBTFLSc/maxresdefault.jpg" class="img-fluid" alt="Imagen uno, llamativa">
            </div>
            <div class="row d-flex p-2">
                <ul class="text-left p-3 ml-3 mr-3 mb-0" style="display: inline-block; vertical-align: middle; list-style-type: disc !important;">
                    <li><p class="h5">Dato 1: Lorem Ipsum hoy te intento contar que todo va bien aunque no te lo creas, aunque a estas alturas un ultimo esfuerzo no valga la pena</p></li>
                    <li><p class="h5">Dato 1: Lorem Ipsum Dolor Sit Amet y tras varios tequilas, las nubes se van pero el sol no regresa</p></li>
                    <li><p class="h5">Dato 1: Lorem Ipsum Dolor Sit Amet mas texto mas texto hace dias perdi en alguna cantina la mitad de mi alma mas el quince de propina</p></li>
                </ul>
            </div>
            <div class="row">
                <img src="https://i.ytimg.com/vi/1-BfDBTFLSc/maxresdefault.jpg" class="img-fluid" alt="Imagen uno, llamativa">
            </div>
            <div class="row d-flex p-4">
                <p class="h3 m-auto">RECURSOS ADICIONALES</p>
            </div>
            <div class="row"></div>
        </div>
        <div class="col-lg-6" id="learn-neg">
            <div class="row d-flex p-5">
                <p class="h2 m-auto">&Aacute;reas limitantes</p>
            </div>
            <div class="row">
                <img src="https://i.ytimg.com/vi/1-BfDBTFLSc/maxresdefault.jpg" class="img-fluid" alt="Imagen uno, llamativa">
            </div>
            <div class="row d-flex p-2">
                <ul class="text-left p-3 ml-3 mr-3 mb-0" style="display: inline-block; vertical-align: middle; list-style-type: disc !important;">
                    <li><p class="h5">Dato 1: Lorem Ipsum hoy te intento contar que todo va bien aunque no te lo creas, aunque a estas alturas un ultimo esfuerzo no valga la pena</p></li>
                    <li><p class="h5">Dato 1: Lorem Ipsum Dolor Sit Amet y tras varios tequilas, las nubes se van pero el sol no regresa</p></li>
                    <li><p class="h5">Dato 1: Lorem Ipsum Dolor Sit Amet mas texto mas texto hace dias perdi en alguna cantina la mitad de mi alma mas el quince de propina</p></li>
                </ul>
            </div>
            <div class="row">
                <img src="https://i.ytimg.com/vi/1-BfDBTFLSc/maxresdefault.jpg" class="img-fluid" alt="Imagen uno, llamativa">
            </div>
            <div class="row d-flex p-4">
                <p class="h3 m-auto">RECURSOS ADICIONALES</p>
            </div>
            <div class="row"></div>
        </div>
    </div>
</div>