* {
    position: relative;
    margin: 0;
    font-family: "Raleway";
    color: white;
}

main {
    min-height: 100%;
}

nav {
    background-color: rgb(72, 77, 83) !important;
}

div.index {
    border: solid white 10px;
    border-radius: 30px;
}

div.main1 {
    background-color: rgb(216, 0, 88) !important;
}

div.main2 {
    background-color: rgb(236, 192, 0) !important;
}

div.main3 {
    background-color: rgb(77, 71, 198) !important;
}

div.main4 {
    background-color: rgb(150, 58, 182) !important;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #aaaaaa;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#learn-pos {
    border: solid white 10px !important;
    background-color: rgb(81, 183, 51) !important;
    border-radius: 20px;
}

#learn-neg {
    border: solid white 10px !important;
    background-color: rgb(228, 54, 41) !important;
    border-radius: 20px;
}